{% load static %}
          <!-- Main Header Area -->
          <div class="main-header-area" id="stickyHeader">
              <div class="classy-nav-container breakpoint-off">
                  <!-- Classy Menu -->
                  <nav class="classy-navbar justify-content-between" id="southNav">

                      <!-- Logo -->
                      <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}" width=200 height=100 alt=""></a>

                      <!-- Navbar Toggler -->
                      <div class="classy-navbar-toggler">
                          <span class="navbarToggler"><span></span><span></span><span></span></span>
                      </div>

                      <!-- Menu -->
                      <div class="classy-menu">

                          <!-- close btn -->
                          <div class="classycloseIcon">
                              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                          </div>

                          <!-- Nav Start -->
                          <div class="classynav">
                              <ul>
                                  <li><a href="{% url 'index' %}">Home</a></li>
                                  <li><a href="#">Pages</a>
                                      <ul class="dropdown">
                                          <li><a href="{% url 'index' %}">Home</a></li>
                                          <li><a href="{% url 'about' %}">About Us</a></li>
                                          <li><a href="{% url 'listings' %}">Listings</a>
                                              <ul class="dropdown">
                                                  <li><a href="{% url 'listings' %}">Listings</a></li>
                                                  <li><a href="{% url 'listing' %">Single Listings</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Blog</a>
                                              <ul class="dropdown">
                                                  <li><a href="blog.html">Blog</a></li>
                                                  <li><a href="single-blog.html">Single Blog</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="contact.html">Contact</a></li>
                                          <li><a href="elements.html">Elements</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="{% url 'about' %}">About Us</a></li>
                                  <li><a href="{% url 'listings' %}">Properties</a></li>
                                  <li><a href="blog.html">Blog</a></li>
                                  <li><a href="contact.html">Contact</a></li>
                                  <li><a href="{% url 'login' %}">Login</a></li>                                  
                              </ul>

                              <!-- Search Form -->
                              <div class="south-search-form">
                                  <form action="#" method="post">
                                      <input type="search" name="search" id="search" placeholder="Search Anything ...">
                                      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                  </form>
                              </div>

                              <!-- Search Button -->
                              <a href="#" class="searchbtn"><i class="fa" aria-hidden="true"></i></a>
                          </div>
                          <!-- Nav End -->
                      </div>
                  </nav>
              </div>
          </div>
      </header>
      <!-- ##### Header Area End ##### -->
