{% extends "base.html" %}

{% load static %}
{% block content %}
      <section class="south-contact-area section-padding-100">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <div class="contact-heading">
                              <h6>Login</h6>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-12 col-lg-4">
                          <div class="content-sidebar">
                              <!-- Office Hours -->
                              <div class="weekly-office-hours">

                              </div>
                              <!-- Address -->
                              <div class="address mt-30">
                                  <h6><img src="" alt="">Contact @ support@creaturenuts.com to get the full Website. go to /admin to log view admin area using login-user pass- user@123</h6>
                              </div>
                          </div>
                      </div>

                      <!-- Contact Form Area -->
                      <div class="col-12 col-lg-8">
                          <div class="contact-form">
                              <form action="#" method="post">
                                {% csrf_token %}
                                  <div class="form-group">
                                      <input type="username" class="form-control" name="username" id="username" placeholder="uername">
                                  </div>
                                  {# <div class="form-group"> #}
                                      {# <input type="number" class="form-control" name="number" id="number" placeholder="Your Phone"> #}
                                  {# </div> #}
                                  <div class="form-group">
                                      <input type="password" class="form-control" name="password" id="password" placeholder="password ">
                                  </div>
                                  <button type="submit" class="btn south-btn">Login</button>
                                  {# <div class="form-group"> #}
                                      {# <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Please Enter Your Requirements Here "></textarea> #}
                                  {# </div> #}

                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
{% endblock content %}
